Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:
      HealthCheckType: ELB
      HealthCheckGracePeriod: 300
  
  WebServerScaleUpPolicy:
    Type: "AWS::AutoScaling::ScalingPolicy"
    Properties:
      AdjustmentType: ChangeInCapacity
      AutoScalingGroupName: { "Ref": "AWSEBAutoScalingGroup" }
      Cooldown: 300
      ScalingAdjustment: 1

  WebServerScaleDownPolicy:
    Type: "AWS::AutoScaling::ScalingPolicy"
    Properties:
      AdjustmentType: ChangeInCapacity
      AutoScalingGroupName: { "Ref": "AWSEBAutoScalingGroup" }
      Cooldown: 300
      ScalingAdjustment: -1

  CPUHighAlarm:
    Type: "AWS::CloudWatch::Alarm"
    Properties:
      AlarmDescription: "Scale up if CPU > 70% for 5 minutes"
      MetricName: CPUUtilization
      Namespace: AWS/EC2
      Statistic: Average
      Period: 300
      EvaluationPeriods: 2
      Threshold: 70
      AlarmActions:
        - { "Ref": "WebServerScaleUpPolicy" }
      Dimensions:
        - Name: AutoScalingGroupName
          Value: { "Ref": "AWSEBAutoScalingGroup" }
      ComparisonOperator: GreaterThanThreshold

  CPULowAlarm:
    Type: "AWS::CloudWatch::Alarm"
    Properties:
      AlarmDescription: "Scale down if CPU < 30% for 10 minutes"
      MetricName: CPUUtilization
      Namespace: AWS/EC2
      Statistic: Average
      Period: 300
      EvaluationPeriods: 2
      Threshold: 30
      AlarmActions:
        - { "Ref": "WebServerScaleDownPolicy" }
      Dimensions:
        - Name: AutoScalingGroupName
          Value: { "Ref": "AWSEBAutoScalingGroup" }
      ComparisonOperator: LessThanThreshold